{% style %}
  #{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.background_color != blank %}
      background-color:{{ section.settings.background_color }};
    {% endif %}
    {% if section.settings.bg_image != blank %}
      background-image: url({{ section.settings.bg_image | image_url }});
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    {% endif %}
    overflow: hidden;
  }
  #{{ section.id }} .page-width {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  .video-section .section-title h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 700;
    margin: 0;
  }
  .video-section .video-wrapper .slide-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 133.5%;
  }
  .video-section .video-wrapper .swiper-wrapper {
    align-items: center;
    padding-bottom: 60px;
  }
  .video-section .video-wrapper .slide-video video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px;
  }
  .video-section .video-wrapper {
    margin: 50px 0;
    position: relative;
  }
  .video-section .video-toggle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .video-section .video-toggle img {
    width: 70px;
    height: 70px;
  }
  .video-section .video-wrapper .slick-list.draggable .video-list {
    margin: 0 10px;
  }
  .video-section .video-wrapper .slick-list.draggable {
    margin: 0;
    padding: 0 !important;
  }
  .video-section .video-wrapper .slick-prev.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0680/6195/4281/files/Frame.svg?v=1745596825);
    left: 0;
  }
  .video-section .video-wrapper .slick-next.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0680/6195/4281/files/Frame_1.svg?v=1745596825);
    right: 0;
  }
  .video-section .video-wrapper .slick-next.slick-arrow,
  .video-section .video-wrapper .slick-prev.slick-arrow {
    background-size: contain;
    height: 40px;
    width: 40px;
    border: 0;
    font-size: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1024px) {
    #{{ section.id }} {
      padding-top: {{ section.settings.tablet_padding_top }}px;
      padding-bottom: {{ section.settings.tablet_padding_bottom }}px;
    }
  }
  
  @media screen and (max-width: 767px) {
    #{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      {% if section.settings.mobile_bg_image != blank %}
        background-image: url({{ section.settings.mobile_bg_image | image_url }});
      {% endif %}
    }
  }
{% endstyle %}

<section id="{{ section.id }}" class="video-section {{ section.settings.custome_class }}">
  <div class="page-width">
    <div class="section-title" style="text-align: {{ section.settings.text_align }};">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
    </div>

    <div class="video-wrapper">
      {% for block in section.blocks %}
        {% assign video_url = block.settings.video_url.sources[1].url %}
        {% if block.settings.video_url != blank %}
          <div class="video-list">
            <div class="slide-video">
              <video class="video" width="100%" type="video/mp4?v=1665479160" src="{{ video_url }}" loop="" playsinline="" autoplay="" preload="auto" controlslist="nodownload"></video>
              <button class="video-toggle">
                <img class="icon-play" src="//spoild.us/cdn/shop/files/cw-icon-pause.png?v=1154489187608159760" alt="Play">
                <img class="icon-pause" src="//spoild.us/cdn/shop/files/cw-icon-play.png?v=14329357438766858479" alt="Pause" style="display: none;">
              </button>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var videoContainers = document.querySelectorAll(".slide-video");

    videoContainers.forEach(function (container) {
      var video = container.querySelector(".video");
      var button = container.querySelector(".video-toggle");
      var iconPlay = button.querySelector(".icon-play");
      var iconPause = button.querySelector(".icon-pause");

      button.addEventListener("click", function () {
        if (video.paused) {
          document.querySelectorAll(".video").forEach(function (v) {
            if (v !== video) {
              v.pause();
              v.muted = true;
              var otherBtn = v.closest(".slide-video").querySelector(".video-toggle");
              otherBtn.querySelector(".icon-play").style.display = "inline";
              otherBtn.querySelector(".icon-pause").style.display = "none";
            }
          });
          video.muted = false;
          video.play();
          iconPlay.style.display = "none";
          iconPause.style.display = "inline";
        } else {
          video.pause();
          iconPlay.style.display = "inline";
          iconPause.style.display = "none";
        }
      });
    });

    $('.video-section .video-wrapper').slick({
      dots: false,
      arrows: true,
      infinite: true,
      speed: 300,
      centerMode: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerPadding: '60px',
          }
        }
      ]
    });
  });
</script>

{% schema %}
  {
    "name": "PDP Video Section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What is Lorem Ipsum?"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "General Settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Section Background Color"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Desktop Background Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_bg_image",
        "label": "Mobile Background Image"
      },
      {
        "type" : "header",
        "content" : "Desktop Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top Padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 36
      },
      {
        "type" : "header",
        "content" : "Tablet Section Padding"
      },
      {
        "type": "range",
        "id": "tablet_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top Padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "tablet_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 36
      },
      {
        "type" : "header",
        "content" : "Mobile Section Padding"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top Padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 36 
      },
      {
        "type" : "header",
        "content" : "Custome Attributes" 
      },
      {
        "type": "text",
        "id": "custome_class",
        "label": "Custome Classes"
      }
    ],
    "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video_url",
          "label": "Select Video",
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"PDP Video Section",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}